@CHARSET "ISO-8859-1";
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Fix menu glitch */
#usrmenu {
	background-color: #4CAF50;
	height: 46px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #008000;
}

.active {
    background-color: #4CAF50;
}
table
{
	border: 1px solid black;
	width:100%;
}

th, td {
	text-align:left;
	padding:8px;
}

tr:nth-child(even){
	background-color:#f2f2f2;
}
tr:nth-child(odd){
	background-color: #ffffff;
}

th {
	background-color: #333;
	color: white;
	font-family:"Times New Roman";
}
.CUcontainer, .UUcontainer, .CPcontainer, .RBcontainer  , .CRcontainer
{
    padding: 1%;
    position: relative;
}


/* Add a hover effect for button */
input[type=text]:hover {
    opacity: 0.8;
}

/* Set a style for all button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    position: center;
    overflow: hidden;
    min-width: 100px;
}

/* Centering login form */
div.CreateUserForm, div.UpdateUserForm, div.CreatePrescription, div.CreateRaavarebatch, div.CreateRaavareForm, div.UpdateRavvareForm
{
    display: block;
    text-align: center;
}


#CreateUserForm, #UpdateUserForm, #ChooseUserToUpdate, #CreatePrescription, #CreateRaavarebatch, #CreateRaavareForm, #UpdateRavvareForm

{
    display: inline-block;
	width: 32%;
}

#CUContainer, #UUContainer, #ChooseContainer, #CPContainer, #RBContainer, #Rcontainer
{
	padding: 16px;
    position: relative;
}

/* Creating space between checkboxes to seperate them more */
input[type=checkbox]{
	margin-right: 4%;
}

/* CSS for HTML and CSS validation */
div.valid
{
	display: block;
    text-align: center;
    margin-top: 2%;
}

/* More nav bar styling including dropdown menus */
.sm {
  list-style: none;
  position: absolute;
  visibility: hidden;
  background-color: #4CAF50;
}

.mm > li > a {
  display: inline-block;
}

.sm a {
  display: block;
  padding: 8px;
}

.mm > li > a:hover + .sm,
.sm:hover {
  visibility: visible;
}



