
.popup {
	/* Size of img on popup */
   	/*width: 55%; 
    height: auto;*/
    

    
    /* Centering */
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

/* The actual popup */
.popup .popuptext {
    display: none;
    margin-top: 1%;
}

/* Image border */
img.popfor {
   padding:1px;
   border:1px solid #c0c0c0;
   background-color:#c0c0c0;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    display: inline;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

